<h2>確認のメールを再送する</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |form| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "address@example.com" %>
  </div>

  <div class="actions">
    <%= form.submit "再送" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
