<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email", placeholder: "address@example.com" %>
  </div>

  <div class="field">
    <%= form.label :password %><br />
    <%= form.password_field :password, autocomplete: "current-password", placeholder: "6文字以上" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= form.check_box :remember_me %>
      <%= form.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "ログイン" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
