<%= form_with(model: big5_score, local: true) do |form| %>

  <% if big5_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(big5_score.errors.count, "件") %>のエラーがあります</h2>

      <ul>
      <% big5_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <strong>1:全く当てはまらない〜7:完全に当てはまる</strong>

  <br>
  <br>

  <div class="field">
    <strong><%= form.label :q1 %>. 活発で、社交的な方だと思う。</strong>
    <label><%= form.radio_button :q1, 1 %>1</label>
    <label><%= form.radio_button :q1, 2 %>2</label>
    <label><%= form.radio_button :q1, 3 %>3</label>
    <label><%= form.radio_button :q1, 4 %>4</label>
    <label><%= form.radio_button :q1, 5 %>5</label>
    <label><%= form.radio_button :q1, 6 %>6</label>
    <label><%= form.radio_button :q1, 7 %>7</label>
  </div>

  <br>

  <div class="field">
    <strong><%= form.label :q2 %>. 物事に対して批判的な意見を持つことが多い方だと思う。</strong>
    <label><%= form.radio_button :q2, 1 %>1</label>
    <label><%= form.radio_button :q2, 2 %>2</label>
    <label><%= form.radio_button :q2, 3 %>3</label>
    <label><%= form.radio_button :q2, 4 %>4</label>
    <label><%= form.radio_button :q2, 5 %>5</label>
    <label><%= form.radio_button :q2, 6 %>6</label>
    <label><%= form.radio_button :q2, 7 %>7</label>
  </div>

  <br>

  <div class="field">
    <strong><%= form.label :q3 %>. 何事もキッチリしていないと気が済まない方だと思う。</strong>
    <label><%= form.radio_button :q3, 1 %>1</label>
    <label><%= form.radio_button :q3, 2 %>2</label>
    <label><%= form.radio_button :q3, 3 %>3</label>
    <label><%= form.radio_button :q3, 4 %>4</label>
    <label><%= form.radio_button :q3, 5 %>5</label>
    <label><%= form.radio_button :q3, 6 %>6</label>
    <label><%= form.radio_button :q3, 7 %>7</label>
  </div>

  <br>

  <div class="field">
    <strong><%= form.label :q4 %>. 普段から心配事が多く、気分の浮き沈みが多い方だと思う。</strong>
    <label><%= form.radio_button :q4, 1 %>1</label>
    <label><%= form.radio_button :q4, 2 %>2</label>
    <label><%= form.radio_button :q4, 3 %>3</label>
    <label><%= form.radio_button :q4, 4 %>4</label>
    <label><%= form.radio_button :q4, 5 %>5</label>
    <label><%= form.radio_button :q4, 6 %>6</label>
    <label><%= form.radio_button :q4, 7 %>7</label>
  </div>

  <br>

  <div class="field">
    <strong><%= form.label :q5 %>. 新しかったり、独創的な物事に魅力を感じることが多い方だと思う。</strong>
    <label><%= form.radio_button :q5, 1 %>1</label>
    <label><%= form.radio_button :q5, 2 %>2</label>
    <label><%= form.radio_button :q5, 3 %>3</label>
    <label><%= form.radio_button :q5, 4 %>4</label>
    <label><%= form.radio_button :q5, 5 %>5</label>
    <label><%= form.radio_button :q5, 6 %>6</label>
    <label><%= form.radio_button :q5, 7 %>7</label>
  </div>

  <br>

  <div class="field">
    <strong><%= form.label :q6 %>. 人の多いパーティーなどの場は、苦手に感じることが多い方だと思う。</strong>
    <label><%= form.radio_button :q6, 1 %>1</label>
    <label><%= form.radio_button :q6, 2 %>2</label>
    <label><%= form.radio_button :q6, 3 %>3</label>
    <label><%= form.radio_button :q6, 4 %>4</label>
    <label><%= form.radio_button :q6, 5 %>5</label>
    <label><%= form.radio_button :q6, 6 %>6</label>
    <label><%= form.radio_button :q6, 7 %>7</label>
  </div>

  <br>

  <div class="field">
    <strong><%= form.label :q7 %>. 人の話に同情を感じることが多い方だと思う。</strong>
    <label><%= form.radio_button :q7, 1 %>1</label>
    <label><%= form.radio_button :q7, 2 %>2</label>
    <label><%= form.radio_button :q7, 3 %>3</label>
    <label><%= form.radio_button :q7, 4 %>4</label>
    <label><%= form.radio_button :q7, 5 %>5</label>
    <label><%= form.radio_button :q7, 6 %>6</label>
    <label><%= form.radio_button :q7, 7 %>7</label>
  </div>

  <br>

  <div class="field">
    <strong><%= form.label :q8 %>. 約束などを勘違いしていたり、うっかり忘れていたりすることが多い方だと思う。</strong>
    <label><%= form.radio_button :q8, 1 %>1</label>
    <label><%= form.radio_button :q8, 2 %>2</label>
    <label><%= form.radio_button :q8, 3 %>3</label>
    <label><%= form.radio_button :q8, 4 %>4</label>
    <label><%= form.radio_button :q8, 5 %>5</label>
    <label><%= form.radio_button :q8, 6 %>6</label>
    <label><%= form.radio_button :q8, 7 %>7</label>
  </div>

  <br>

  <div class="field">
    <strong><%= form.label :q9 %>. リラックスして、安定した気分であることが多い方だと思う。</strong>
    <label><%= form.radio_button :q9, 1 %>1</label>
    <label><%= form.radio_button :q9, 2 %>2</label>
    <label><%= form.radio_button :q9, 3 %>3</label>
    <label><%= form.radio_button :q9, 4 %>4</label>
    <label><%= form.radio_button :q9, 5 %>5</label>
    <label><%= form.radio_button :q9, 6 %>6</label>
    <label><%= form.radio_button :q9, 7 %>7</label>
  </div>

  <br>

  <div class="field">
    <strong><%= form.label :q10 %>. 独創的な物事よりも、現実に即した堅実な物事に魅力を感じることが多い方だと思う。</strong>
    <label><%= form.radio_button :q10, 1 %>1</label>
    <label><%= form.radio_button :q10, 2 %>2</label>
    <label><%= form.radio_button :q10, 3 %>3</label>
    <label><%= form.radio_button :q10, 4 %>4</label>
    <label><%= form.radio_button :q10, 5 %>5</label>
    <label><%= form.radio_button :q10, 6 %>6</label>
    <label><%= form.radio_button :q10, 7 %>7</label>
  </div>

  <br>

  <div class="actions">
    <%= form.submit value: "診断" %>
  </div>
<% end %>
