<canvas id="myRaderChart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<script>
var ctx = document.getElementById("myRaderChart");
var myRadarChart = new Chart(ctx, {
    type: 'radar',
    data: {
        labels: ["誠実性", "協調性", "情緒安定性", "開放性", "外向性"],
        datasets: [{
            label: '今回',
            data: [<%= @this_time_conscientiousness %>, <%= @this_time_agreeableness %>, <%= @this_time_neuroticism %>, <%= @this_time_openness_to_experience %>, <%= @this_time_extraversion %>],
            backgroundColor: 'RGBA(225,95,150, 0.5)',
            borderColor: 'RGBA(225,95,150, 1)',
            borderWidth: 1,
            pointBackgroundColor: 'RGB(46,106,177)'
        },
        <% if @last_time_big5_score != @this_time_big5_score %>
        {
            label: '前回',
            data: [<%= @last_time_conscientiousness %>, <%= @last_time_agreeableness %>, <%= @last_time_neuroticism %>, <%= @last_time_openness_to_experience %>, <%= @last_time_extraversion %>],
            backgroundColor: 'RGBA(115,255,25, 0.5)',
            borderColor: 'RGBA(115,255,25, 1)',
            borderWidth: 1,
            pointBackgroundColor: 'RGB(46,106,177)'
        }
        <% end %>
        ]
    },
    options: {
        title: {
            display: true,
            text: 'Big5'
        },
        scale:{
            ticks:{
                suggestedMin: 0,
                suggestedMax: 7,
                stepSize: 1,
                callback: function(value, index, values){
                    return  value
                }
            }
        }
    }
});
</script>

<p>
  <strong>誠実性:</strong>
  <%= @this_time_conscientiousness %>
</p>

<p>
  <strong>協調性:</strong>
  <%= @this_time_agreeableness %>
</p>

<p>
  <strong>情緒安定性:</strong>
  <%= @this_time_neuroticism %>
</p>

<p>
  <strong>開放性:</strong>
  <%= @this_time_openness_to_experience %>
</p>

<p>
  <strong>外向性:</strong>
  <%= @this_time_extraversion %>
</p>


<%= link_to '編集', edit_big5_score_path(@big5_score) %> |
<%= link_to '戻る', big5_scores_path %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
