<h1>
  <%= @date %>のデータ
</h1>

<!-- ストレス度ドーナツチャート -->
<% if @dailry_stress_score != nil %>

  <div class="chart_price">
    <canvas id="myPieChart"></canvas>
    <% if @dailry_stress_score.class == Integer %>
      <% if @dailry_stress_score > 0 %>
        <p class="PieChart"><%= @dailry_stress_score %>%</p>
      <% else %>
        <p class="PieChart">ノーストレス!</p>
      <% end %>
    <% else %>
      <% if @dailry_stress_score.score > 0 %>
        <p class="PieChart"><%= (@dailry_stress_score.score.to_f) / 10 %>%</p>
      <% else %>
        <p class="PieChart">ノーストレス!</p>
      <% end %>
    <% end %>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  <script>
    var ctx = document.getElementById("myPieChart");
    var myPieChart = new Chart(ctx, {
      type: 'pie',
      data: {
        <% if @dailry_stress_score.class != Integer %>
          labels: ["行動", "思考・感情", "体調"],
        <% end %>
        datasets:
          <% if @dailry_stress_score.class == Integer %>
            [{
              data: [<%= @dailry_stress_score %>, <%= 100 - @dailry_stress_score %>],
              <% if @dailry_stress_score >= 80 %>
                backgroundColor: ['Red', 'White'],
                hoverBackgroundColor: ['Red', 'White'],
              <% elsif @dailry_stress_score >= 50 %>
                backgroundColor: ['Yellow', 'White'],
                hoverBackgroundColor: ['Yellow', 'White'],
              <% elsif @dailry_stress_score >= 30 %>
                backgroundColor: ['Green', 'White'],
                hoverBackgroundColor: ['Green', 'White'],
              <% else %>
                backgroundColor: ['Blue', 'White'],
                hoverBackgroundColor: ['Blue', 'White'],
              <% end %>
              borderColor: ['Black', 'Black'],
              hoverBorderColor: ['Black', 'Black']
            }]
          <% else %>
            [{
              data: [<%= ((@dailry_stress_score.action.to_f) / 10) %>, <%= ((@dailry_stress_score.emotions.to_f) / 10) %>, <%= ((@dailry_stress_score.condition.to_f) / 10) %>, <%= 100 - ((@dailry_stress_score.score.to_f) / 10) %>],
              <% if ((@dailry_stress_score.score.to_f) / 10) >= 80 %>
                backgroundColor: ['#ff4500', '#ff0000', '#dc143c', '#ffffff'],
                hoverBackgroundColor: ['#ff4500', '#ff0000', '#dc143c', '#ffffff'],
              <% elsif ((@dailry_stress_score.score.to_f) / 10) >= 50 %>
                backgroundColor: ['#ffff00', '#ffd700', '#ffa500', '#ffffff'],
                hoverBackgroundColor: ['#ffff00', '#ffd700', '#ffa500', '#ffffff'],
              <% elsif ((@dailry_stress_score.score.to_f) / 10) >= 30 %>
                backgroundColor: ['#3cb371', '#2e8b57', '#228b22', '#ffffff'],
                hoverBackgroundColor: ['#3cb371', '#2e8b57', '#228b22', '#ffffff'],
              <% else %>
                backgroundColor: ['#1e90ff', '#6495ed', '#0000ff', '#ffffff'],
                hoverBackgroundColor: ['#1e90ff', '#6495ed', '#0000ff', '#ffffff'],
              <% end %>
              borderColor: ['#000000', '#000000', '#000000', '#000000'],
              hoverBorderColor: ['#000000', '#000000', '#000000', '#000000']
            }]
          <% end %>
      },
      options: {
        title: {
          display: true,
          text: 'ストレス度'
        },
        cutoutPercentage: 50,
        animation: {
          animateRotate: true
        },
        tooltips: {
          enabled :
            <% if @dailry_stress_score.class != Integer %>
              true
            <% else %>
              false
            <% end %>
        },
      }
    });
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

<% end %>

<% if @dailry_stress_diaries != [] %>

<h2><%= @date %>のストレスダイアリー</h2>
<%= link_to '全て表示', stress_diaries_path %>

<table border="1" align="center" valign="midle">
  <thead>
    <tr>
      <th><%= sort_link(@query, :created_at, "日付") %></th>
      <th><%= sort_link(@query, :time, "時間") %></th>
      <th><%= sort_link(@query, :stress_level, "ストレス度") %></th>
      <th><%= sort_link(@query, :duration, "持続時間") %></th>
      <th><%= sort_link(@query, :situation, "シチュエーション") %></th>
      <th><%= sort_link(@query, :trigger, "そうなったきっかけ") %></th>
      <th><%= sort_link(@query, :reaction, "それに対する反応") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dailry_stress_diaries.each do |stress_diary| %>
      <tr>
        <td><%= stress_diary.created_at.strftime("%y/%m/%d")%></td>
        <td><%= stress_diary.time.strftime("%H：%M頃")%></td>
        <td><%= stress_diary.stress_level %></td>
        <td><%= stress_diary.duration %></td>
        <td><%= stress_diary.situation %></td>
        <td><%= stress_diary.trigger %></td>
        <td><%= stress_diary.reaction %></td>
        <td><%= link_to '詳細', stress_diary %></td>
        <td><%= link_to '編集', edit_stress_diary_path(stress_diary) %></td>
        <td><%= link_to '削除', stress_diary, method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to '戻る', user_path(current_user.id) %>
