<div class="row">
  <div class="col-md-4 offset-md-4"><h3 class="text-center"><%= @date %>のデータ</h3></div>
</div>

<br>
<br>

<!-- ストレス度ドーナツチャート -->
<% if @dailry_stress_score != nil %>
  <div class="chart_price">
    <canvas id="myPieChart"></canvas>
    <% if @dailry_stress_score.class == Integer %>
      <p class="PieChart1"><strong>ストレス度</strong></p>
      <p class="PieChart2"><%= @dailry_stress_score %>%</p>
    <% else %>
      <p class="PieChart3"><strong>ストレス度</strong></p>
      <p class="PieChart4"><%= (@dailry_stress_score.score.to_f) / 10 %>%</p>
    <% end %>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  <script>
    var ctx = document.getElementById("myPieChart");
    var myPieChart = new Chart(ctx, {
      type: 'pie',
      data: {
        <% if @dailry_stress_score.class != Integer %>
          labels: ["行動", "思考・感情", "体調"],
        <% end %>
        datasets:
          <% if @dailry_stress_score.class == Integer %>
            [{
              data: [<%= @dailry_stress_score %>, <%= 100 - @dailry_stress_score %>],
              <% if @dailry_stress_score >= 80 %>
                backgroundColor: ['RGBA(255,0,0,0.8)', 'White'],
                hoverBackgroundColor: ['Red', 'White'],
              <% elsif @dailry_stress_score >= 50 %>
                backgroundColor: ['RGBA(255,255,0,0.8)', 'White'],
                hoverBackgroundColor: ['Yellow', 'White'],
              <% elsif @dailry_stress_score >= 30 %>
                backgroundColor: ['RGBA(0,153,51,0.8)', 'White'],
                hoverBackgroundColor: ['Green', 'White'],
              <% else %>
                backgroundColor: ['RGBA(0,51,255.0.8)', 'White'],
                hoverBackgroundColor: ['Blue', 'White'],
              <% end %>
              borderColor: ['Black', 'Black'],
              hoverBorderColor: ['Black', 'Black']
            }]
          <% else %>
            [{
              data: [<%= ((@dailry_stress_score.action.to_f) / 10) %>, <%= ((@dailry_stress_score.emotions.to_f) / 10) %>, <%= ((@dailry_stress_score.condition.to_f) / 10) %>, <%= 100 - ((@dailry_stress_score.score.to_f) / 10) %>],
              <% if ((@dailry_stress_score.score.to_f) / 10) >= 80 %>
                backgroundColor: ['#ff4500', '#ff0000', '#dc143c', '#ffffff'],
                hoverBackgroundColor: ['#ff4500', '#ff0000', '#dc143c', '#ffffff'],
              <% elsif ((@dailry_stress_score.score.to_f) / 10) >= 50 %>
                backgroundColor: ['#ffff00', '#ffd700', '#ffa500', '#ffffff'],
                hoverBackgroundColor: ['#ffff00', '#ffd700', '#ffa500', '#ffffff'],
              <% elsif ((@dailry_stress_score.score.to_f) / 10) >= 30 %>
                backgroundColor: ['#3cb371', '#2e8b57', '#228b22', '#ffffff'],
                hoverBackgroundColor: ['#3cb371', '#2e8b57', '#228b22', '#ffffff'],
              <% else %>
                backgroundColor: ['#1e90ff', '#6495ed', '#0000ff', '#ffffff'],
                hoverBackgroundColor: ['#1e90ff', '#6495ed', '#0000ff', '#ffffff'],
              <% end %>
              borderColor: ['#000000', '#000000', '#000000', '#000000'],
              hoverBorderColor: ['#000000', '#000000', '#000000', '#000000']
            }]
          <% end %>
      },
      options: {
        title: {
          display: true,
          text: 'ストレス度',
          fontSize: 20,
        },
        cutoutPercentage: 50,
        animation: {
          animateRotate: true
        },
        tooltips: {
          enabled :
            <% if @dailry_stress_score.class != Integer %>
              true
            <% else %>
              false
            <% end %>
        },
      }
    });
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<% end %>

<br>
<br>

<% if @dailry_stress_diaries != [] %>
<div class="row mx-auto">
  <div class="col-md-10 offset-md-1 mx-auto">
    <table width="100%" class="mx-auto">
      <thead>
        <tr class="text-center border-bottom" height="35">
          <th><%= sort_link(@query, :created_at, "日付") %></th>
          <th><%= sort_link(@query, :time, "時間") %></th>
          <th><%= sort_link(@query, :stress_level, "ストレス度") %></th>
          <th><%= sort_link(@query, :duration, "持続時間") %></th>
          <th><%= sort_link(@query, :situation, "状況") %></th>
          <th><%= sort_link(@query, :trigger, "きっかけ") %></th>
          <th><%= sort_link(@query, :reaction, "リアクション") %></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @dailry_stress_diaries.each do |stress_diary| %>
          <tr class="text-center border-bottom" height="35">
            <td><%= stress_diary.created_at.strftime("%y/%m/%d")%></td>
            <td><%= stress_diary.time.strftime("%H：%M頃")%></td>
            <td><%= stress_diary.stress_level %></td>
            <td><%= stress_diary.duration %></td>
            <td><%= stress_diary.situation %></td>
            <td><%= stress_diary.trigger %></td>
            <td><%= stress_diary.reaction %></td>
            <td><%= link_to '編集', edit_stress_diary_path(stress_diary) %></td>
            <td><%= link_to '削除', stress_diary, method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <br>

    <div class="row mx-auto text-center">
      <div class="col-md-4 offset-md-4 mx-auto text-center"><%= paginate @dailry_stress_diaries %></div>
    </div>

  </div>
</div>
<% end %>

<br>

<div class="row">
  <div class="col-md-4 offset-md-4 text-center"><%= link_to '戻る', user_path(current_user.id), class: "btn btn-outline-primary rounded-0" %></div>
</div>
