<h2>マイページ</h2>
<p>アカウント名:<%= current_user.name %></p>
<p>メールアドレス:<%= current_user.email %></p>

<%= link_to '編集', edit_user_registration_path(current_user) %>

<!-- Big5レーダーチャート -->
<canvas id="myRaderChart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<script>
var ctx = document.getElementById("myRaderChart");
var myRadarChart = new Chart(ctx, {
    type: 'radar',
    data: {
        labels: ["誠実性", "協調性", "情緒安定性", "開放性", "外向性"],
        datasets: [{
            label: '今回',
            data: [<%= @this_time_conscientiousness %>, <%= @this_time_agreeableness %>, <%= @this_time_neuroticism %>, <%= @this_time_openness_to_experience %>, <%= @this_time_extraversion %>],
            backgroundColor: 'RGBA(225,95,150, 0.5)',
            borderColor: 'RGBA(225,95,150, 1)',
            borderWidth: 2,
            pointBackgroundColor: 'RGB(46,106,177)'
        },
        {
            label: '前回',
            data: [<%= @last_time_conscientiousness %>, <%= @last_time_agreeableness %>, <%= @last_time_neuroticism %>, <%= @last_time_openness_to_experience %>, <%= @last_time_extraversion %>],
            backgroundColor: 'RGBA(115,255,25, 0.5)',
            borderColor: 'RGBA(115,255,25, 1)',
            borderWidth: 2,
            pointBackgroundColor: 'RGB(46,106,177)'
        }]
    },
    options: {
        title: {
            display: true,
            text: 'Big5',
            fontSize: 20
        },
        scale:{
            ticks:{
                suggestedMin: 0,
                suggestedMax: 7,
                stepSize: 1,
                callback: function(value, index, values){
                    return  value
                }
            }
        },
        responsive: true,
        maintainAspectRatio: true
    }
});
</script>

<!-- ストレス度ラインチャート -->
<canvas id="myLineChart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<script>
var ctx = document.getElementById("myLineChart");
var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["0",
        <% @pss4_scores.each do |pss4_score| %>
          "<%= pss4_score[1].strftime("%Y/%m/%d") %>",
        <% end %>
        ],
        datasets: [{
            data: [0,
            <% @pss4_scores.each do |pss4_score| %>
              <%= pss4_score[0] %>,
            <% end %>
            ],
            backgroundColor: 'RGBA(225,95,150, 0.5)',
            borderColor: 'RGBA(225,95,150, 1)',
            borderWidth: 2,
            pointBackgroundColor: 'RGB(46,106,177)'
        }]
    },
    options: {
        title: {
          display: true,
          text: "ストレス値",
          fontSize: 20
        },
        legend: {
          display: false
        },
        responsive: true,
        maintainAspectRatio: true
      }
});
</script>

<!-- カレンダー -->
<%= month_calendar events: @dailry_data do |date, dailry_data| %>
  <!-- 日付 -->
  <% @date = date %>
  <%= link_to date.strftime("%d"), dailry_data_path(para: date) %><br>
  <!-- その日のストレスダイアリーの投稿数 -->
  <% todays_data = [] %>
  <% dailry_data.each do |data| %>
    <% todays_data.push(data) %>
    <% if todays_data.any? %>
      <% begin %>
        <!-- その日のストレス度 -->
        <%= link_to "ストレス度：#{data.score}%", dailry_data_path(para: date) %>
      <% rescue %>
      <% end %>
    <% end %>
  <% end %>
  <% if todays_data.length >= 1 && todays_data.pluck(:score).count(nil) > 0 %>
    <br>
    <%= link_to "ダイアリー：#{todays_data.pluck(:score).count(nil)}件", dailry_data_path(para: date) %>
    <br>
  <% end %>
<% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

<%= link_to 'ストレス計測', new_pss4_path %>
<%= link_to 'Big5診断', new_big5_score_path %>
<%= link_to 'ストレスダイアリーを書く', new_stress_diary_path %>
<%= link_to 'ストレスダイアリー一覧', stress_diaries_path %>
