<div class="row">
  <div class="col-md-4 offset-md-4"><h3 class="text-center">マイページ</h3></div>
</div>

<br>
<br>

<div class="row d-flex align-items-center">
  <div class="col-md-5 text-center mx-auto">
  <div class="card">
    <div class="card-header">
      <strong><%= link_to current_user.name, edit_user_registration_path(current_user) %>さんのデータ</strong>
    </div>
    <div class="card_body float-left text-left">
      <p class="m-4">ストレスを計測した日数：合計<strong><%= @stress_scores.length %></strong>日</p>
      <p class="m-4">平均ストレス度：<strong><%= @average_score %></strong>%(計測する→<%= link_to '簡易版', new_pss4_path %> | <%= link_to '詳細版', new_sss_path %>)</p>
      <p class="m-4">ストレスダイアリー投稿数：<strong><%= @total_diary.length %></strong>件(<%= link_to '一覧', stress_diaries_path %>)</p>
    </div>
  </div>
  </div>

<div class="col-md-7 text-center mx-auto">
<!-- Big5レーダーチャート -->
<canvas id="myRaderChart" height="200"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<script>
var ctx = document.getElementById("myRaderChart");
var myRadarChart = new Chart(ctx, {
    type: 'radar',
    data: {
        labels: ["誠実性", "協調性", "情緒安定性", "開放性", "外向性"],
        datasets: [{
            label: '今回',
            data: [<%= @this_time_conscientiousness %>, <%= @this_time_agreeableness %>, <%= @this_time_neuroticism %>, <%= @this_time_openness_to_experience %>, <%= @this_time_extraversion %>],
            backgroundColor: 'RGBA(0,102,255,0.5)',
            borderColor: 'RGBA(0,102,255,1)',
            borderWidth: 2,
            pointBackgroundColor: 'RGB(0,102,255)'
        },
        {
            label: '前回',
            data: [<%= @last_time_conscientiousness %>, <%= @last_time_agreeableness %>, <%= @last_time_neuroticism %>, <%= @last_time_openness_to_experience %>, <%= @last_time_extraversion %>],
            backgroundColor: 'RGBA(51,204,255,0.5)',
            borderColor: 'RGBA(51,204,255,0.8)',
            borderWidth: 2,
            pointBackgroundColor: 'RGB(51,204,255)'
        }]
    },
    options: {
      title: {
        display: true,
        text: 'Big5',
        fontSize: 20,
      },
      scale:{
        ticks:{
          suggestedMin: 0,
          suggestedMax: 7,
          stepSize: 1,
          callback: function(value, index, values){
            return  value
          }
        }
      },
      responsive: true,
      maintainAspectRatio: true
    }
});
</script>
<%= link_to 'Big5を診断する', new_big5_score_path %>
</div>
</div>

<br>
<br>
<br>

<!-- ストレス度ラインチャート -->
<canvas id="myLineChart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<script>
var ctx = document.getElementById("myLineChart");
var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["0",
        <% @stress_scores.each do |score| %>
          "<%= score[1].strftime("%Y/%m/%d") %>",
        <% end %>
        ],
        datasets: [{
            data: [0,
            <% @stress_scores.each do |score| %>
              <% if score[2] != nil && score[0] >= 5 %>
                <%= ((score[0]).to_f / 10) %>,
              <% else %>
                <%= score[0] %>,
              <% end %>
            <% end %>
            ],
            backgroundColor: 'RGBA(0,102,255,0.5)',
            borderColor: 'RGBA(0,102,255,1)',
            borderWidth: 2,
            pointBackgroundColor: 'RGB(46,106,177)'
        }]
    },
    options: {
        title: {
          display: true,
          text: "ストレス度の推移\n",
          fontSize: 20
        },
        legend: {
          display: false
        },
        responsive: true,
        maintainAspectRatio: true
      }
});
</script>

<br>
<br>

<!-- カレンダー -->
<%= month_calendar events: @dailry_data do |date, dailry_data| %>
  <!-- 日付 -->
  <% @date = date %>
  <%= date.strftime("%d") %><br>
  <!-- その日のストレスダイアリーの投稿数 -->
  <% todays_data = [] %>
  <% dailry_data.each do |data| %>
    <% todays_data.push(data) %>
    <% if todays_data.any? %>
      <% begin %>
        <!-- その日のストレス度 -->
        <% if data.class == Sss && data.score >= 5 %>
          <%= link_to "ストレス度：#{((data.score).to_f / 10)}%", dailry_data_path(para: date) %>
        <% else %>
          <%= link_to "ストレス度：#{data.score}%", dailry_data_path(para: date) %>
        <% end %>
      <% rescue %>
      <% end %>
    <% end %>
  <% end %>
  <% if todays_data.length >= 1 && todays_data.pluck(:score).count(nil) > 0 %>
    <br>
    <%= link_to "ダイアリー：#{todays_data.pluck(:score).count(nil)}件", dailry_data_path(para: date) %>
    <br>
  <% end %>
<% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
