<h1>Ssses</h1>

<table>
  <thead>
    <tr>
      <th>スコア</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ssses.each do |sss| %>
      <tr>
        <td><%= sss.score %></td>
        <td><%= link_to '詳細', sss %></td>
        <td><%= link_to '編集', edit_sss_path(sss) %></td>
        <td><%= link_to '削除', sss, method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'sss診断', new_sss_path %>
