<table align="center" valign="midle">
  <%= form_with(model: stress_diary, local: true) do |form| %>
    <% if stress_diary.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(stress_diary.errors.count, "件") %>のエラーがあります</h2>

        <ul>
        <% stress_diary.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <thead>
    <tr align="center" valign="midle">
      <th><%= form.label :time %></th>
      <th><%= form.label :stress_level %></th>
      <th><%= form.label :duration %></th>
      <th><%= form.label :situation %></th>
      <th><%= form.label :trigger %></th>
      <th><%= form.label :reaction %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
      <tr align="center" valign="midle" height="100%">
        <td>
          <div class="field">
            <%= form.time_select :time, minute_step: 15 %>頃
          </div>
        </td>
        <td>
          <div class="field">
            <%= form.select :stress_level, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], class: 'stress_level' %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= form.select :duration, ["〜10分", "10〜20分", "20〜30分", "30〜40分", "40〜50分", "50〜60分", "60分〜"], class: 'duration' %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= form.text_area :situation, size: "25x4" %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= form.text_area :trigger, size: "25x4" %>
          </div>
        </td>
        <td>
          <div class="field">
            <%= form.text_area :reaction, size: "25x4" %>
          </div>
        </td>
        <td>
          <div class="actions">
            <%= form.submit value: "投稿" %>
          </div>
        </td>
      </tr>
  </tbody>
  <% end %>
</table>
