<div class="row">
  <div class="col-md-4 offset-md-4"><h3 class="text-center">ストレスダイアリー</h3></div>
</div>

<br>

<div class="row">
  <div class="col-md-4 offset-md-4 text-center"><%= link_to '新規投稿', new_stress_diary_path, class: "text-center btn btn-primary rounded-0" %></div>
</div>

<br>
<br>

<div class="row mx-auto">
  <div class="col-md-10 offset-md-1 mx-auto">
    <table width="100%" class="mx-auto">
      <thead>
        <tr class="text-center" height="35">
          <th colspan="2"></th>
            <%= search_form_for @query do |form| %>
              <th colspan="4"><%= form.search_field :duration_or_situation_or_trigger_or_reaction_cont, placeholder: "検索", class: "form-control rounded-0" %></th>
              <th colspan="1"><%= form.submit "検索", class: "btn btn-primary rounded-0" %></th>
            <% end %>
          <th colspan="2"></th>
        </tr>
        <tr>
          <th colspan="9"></th>
        </tr>
        <tr class="text-center border-bottom" height="35">
          <th><%= sort_link(@query, :created_at, "日付") %></th>
          <th><%= sort_link(@query, :time, "時間") %></th>
          <th><%= sort_link(@query, :stress_level, "ストレス度") %></th>
          <th><%= sort_link(@query, :duration, "持続時間") %></th>
          <th><%= sort_link(@query, :situation, "状況") %></th>
          <th><%= sort_link(@query, :trigger, "きっかけ") %></th>
          <th><%= sort_link(@query, :reaction, "リアクション") %></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @stress_diaries.each do |stress_diary| %>
          <tr class="text-center border-bottom" height="35">
            <td><%= stress_diary.created_at.strftime("%y/%m/%d")%></td>
            <td><%= stress_diary.time.strftime("%H：%M頃")%></td>
            <td><%= stress_diary.stress_level %></td>
            <td><%= stress_diary.duration %></td>
            <td><%= stress_diary.situation %></td>
            <td><%= stress_diary.trigger %></td>
            <td><%= stress_diary.reaction %></td>
            <td><%= link_to '編集', edit_stress_diary_path(stress_diary) %></td>
            <td><%= link_to '削除', stress_diary, method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <br>

  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-6 mx-auto"><%= paginate @stress_diaries %></div>
</div>


<br>

<div class="row mx-auto text-center">
  <div class="col-md-4 offset-md-4 mx-auto text-center"><%= link_to '戻る', user_path(current_user.id), class: "btn btn-outline-primary rounded-0" %></div>
</div>
