<p>
  <strong>ストレスを感じた時間:</strong>
  <%= @stress_diary.time.strftime("%H時%M分頃") %>
</p>

<p>
  <strong>感じたストレスの度合い:</strong>
  <%= @stress_diary.stress_level %>
</p>

<p>
  <strong>ストレスの持続時間:</strong>
  <%= @stress_diary.duration %>
</p>

<p>
  <strong>ストレスを感じた状況:</strong>
  <%= @stress_diary.situation %>
</p>

<p>
  <strong>そのきっかけ:</strong>
  <%= @stress_diary.trigger %>
</p>

<p>
  <strong>それに対する自分の反応:</strong>
  <%= @stress_diary.reaction %>
</p>

<%= link_to '編集', edit_stress_diary_path(@stress_diary) %> |
<%= link_to '戻る', stress_diaries_path %>
