<h2>パスワードを変更する</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |form| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= form.hidden_field :reset_password_token %>

  <div class="field">
    <%= form.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      (<%= @minimum_password_length %>文字以上)<br />
    <% end %>
    <%= form.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "6文字以上" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, "Confirm new password" %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password", placeholder: "6文字以上(確認)" %>
  </div>

  <div class="actions">
    <%= form.submit "送信" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
