<!DOCTYPE html>
<html>
  <head>
    <title>Menta Cycle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="wrapper">

      <header id="header">
        <!-- ヘッダーメニュー -->
        <%= link_to "Menta Cycle", big5_scores_path %>
        <% if user_signed_in? %>
          <li><%= current_user.name %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
          <li><%= link_to '新規登録', new_user_registration_path %></li>
        <% end %>

        <!-- フラッシュメッセージ -->
        <% if notice %>
          <p class="alert alert-notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-error"><%= alert %></p>
        <% end %>

        <!-- メインコンテンツ -->
        <%= yield %>
      </header>

      <!-- フッター -->
      <footer id="footer">
        Copyright © 2019 Yusuke Matsuda All Rights Reserved.
      </footer>

    </div>
  </body>

</html>
